body, html {
  height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
#App { /* formerly .bg wrapped around home div*/
  background-image: url("client/lib/tahoe.JPG");
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  bottom: 4vh;
}
#home-info {
  background-color: black;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 5%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
#home-info:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#info {
  position: absolute;
  top: 4.9%;
  right: 3.5%;
  padding: 8px;
  opacity: 0.5;
  background-color: black;
  border-radius: 30px;
  animation: infoFadeIn ease 2s;
}
#info a {
  color: white;
}
@keyframes infoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
#hello {
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 10vh;
  animation: textFadeInOut ease 8s;
  opacity: 0;
}
@keyframes textFadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.nav-buttons {
  position: absolute;
  left: 20%;
  bottom: 5vh;
  animation: buttonFadeIn ease 4s;
}
@keyframes buttonFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-button {
  margin: 0 5vw;
  padding: 2vh;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
a .nav-button {
  color: white;
  text-decoration: none;
}
.img-crop {
  width: 10vw;
  height: 20vh;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid white;
}
.profile {
  display: inline;
  margin: 0 auto;
  margin-left: -8%;
  margin-top: -15%;
}
#about {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
#skills {
  height: 100vh;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
#projects {
  height: 100vh;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
#contact {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  position: relative;
}